body {
    padding-top: 30px;
    background-image:url("/img/sayagata-400px.png");
    background-repeat:repeat;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
    list-style-type: circle;
}
.backhidden {
    visibility: hidden;
}
.jumbotron {
    background-color:#e2e2e2 !important;
}
